body {
	background: #65A1E6 url('https://payload.cargocollective.com/1/4/136265/10379937/03-detail_1000.jpg');
	color: #F5C027;
}

a {
	text-decoration: none;
	color: #F5C027;
}

a:hover { color: black; }

header, nav, main, footer {
	width: 100%;
	margin: auto;
	font-family: 'Grenze', serif;
}


/* Header styles */
header { 
	background-color: black;
	color: BlanchedAlmond;
	min-height: 100px;
	margin-top: 150px;
	margin-bottom: 50px;
	font-family: 'Grenze', serif;
}

header h1 {
	padding: 60px 40px;
	font-family: 'Grenze', serif;
	font-size: 30px;
}


/* Nav styles */
nav { background-color: #DBD3B8; }
nav ul { 
	display: flex;
	justify-content: flex-end;
	list-style-type: none;
}
nav li { padding: 10px 10px; }
nav a { color: BlanchedAlmond; }
nav a:hover { color: white; }


/* Main styles */
main { 
	background-color: #fff;
	display: grid;
	grid-template-columns: 60% 40%;
}

section {
	padding: 40px 60px;
}

section ul, aside ul {
	list-style-type: circles;
	margin-top: 20px; 
	margin-left: 60px;
}

aside {
	padding: 40px 10px;
}



/* Footer styles */
footer { 
	background-color: #A8A28D;
	color: white;
	text-align: center;
 }
 footer p { padding: 20px; }
